<button class="btn btn-primary" (click)="addTimer()">Add timer</button>

<div *ngFor="let t of timers">
  {{ interval$ | async }}
</div>


{{ subject$ | async }}

<hr>



<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" formControlName="isbn" class="form-control" id="isbn">
    <div class="feedback-red" *ngIf="bookForm.get('isbn').invalid && bookForm.get('isbn').dirty">
      ISBN ist ungültig
    </div>
    <div class="feedback-red" *ngIf="bookForm.get('isbn').hasError('minlength')">
      ISBN ist zu kurz, mindestens {{ bookForm.get('isbn').getError('minlength').requiredLength }} Zeichen erforderlich
    </div>
  </div>

  <div class="form-group">
    <label>Titel</label>
    <input type="text" formControlName="title" class="form-control">
  </div>

  <div class="form-group">
    <label>Beschreibung</label>
    <input type="text" formControlName="description" class="form-control">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-danger" [disabled]="bookForm.invalid">Abschicken</button>
  </div>
</form>

<pre>
{{ results$ | async | json }}
</pre>
