<br-create-book (bookCreated)="addBook($event)"></br-create-book>

<br-book
  *ngFor="let b of books; trackBy: trackBook"
  (rated)="updateSortList($event)"
  [book]="b"></br-book>

<div *ngIf="books.length == 0">Keine Bücher vorhanden</div>

<div>
  <strong>{{ books.length }} Bücher vorhanden</strong>
</div>

<hr>

<div *ngFor="let b of books; index as i; last as l">
  {{ i + 1 }}.) {{ b.title }}
  <span *ngIf="!l">📕</span>
  <span *ngIf="l">🚀</span>
</div>

<hr>

<a [href]="url">Zur Website</a> /
{{ d | date:'medium' }}

<hr>

<pre>
{{ books | json }}
</pre>
